*{
    padding: 0;
    margin: 0;
}

div{
    margin: 20px auto;
    height: 50px;
    width: 200px;
    border: 2px solid yellow;
    line-height: 50px;
    text-align: center;
}

.status{
    color: aqua;
}